<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>About Us</h1>
        <div class="jumbotron">
            <h1>Selling Apartments</h1>
            <p>Are you looking to buy a new apartment? Our real estate agency has a wide selection of apartments for sale in the best neighborhoods of the city. From cozy studios to spacious 3-bedroom apartments, we have the perfect home for you.</p>
            <p>We have a team of experienced real estate agents who will work with you every step of the way to find the apartment that meets your needs and budget. Our agents are experts in the local real estate market and will provide you with all the information you need to make an informed decision.</p>
            <p>So why wait? Contact us today to schedule a viewing of our available apartments and start your journey to finding your dream home.</p>
            
          </div>
	<p>Email: propertywindow3@gmail.com</p>
	<p>Address: Main Patodi road,Gurgaon</p>
	<p>Phone: 8527245451</p>
    
  
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>
    